/* your styles go here */
#licencia_activa {
	color: white;
	background-color: #5CB85C;
	width: 100%;
	text-align: center;
}

#licencia_inactiva {
	color: white;
	background-color: #D9534F;
	width: 100%;
	text-align: center;
}

/*******************
Table-Data Table
******************/
.dataTables_info,
.dataTables_length {
  margin: 1em 0;
  display: inline-block; 
}

.browser-default {
	margin-left: 5px;
}

.dataTables_filter {
  float: right; }
  .dataTables_filter input {
    border: 1px solid #d9d9d9;
    padding: 5px 20px;
    margin: 1em 0;
     }

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
  background: transparent; }

table.dataTable thead .sorting_asc:after {
  content: "\f0de";
  margin-left: 10px;
  font-family: fontawesome;
  cursor: pointer; }

table.dataTable thead .sorting_desc:after {
  content: "\f0dd";
  margin-left: 10px;
  font-family: fontawesome;
  cursor: pointer; }

table.dataTable thead .sorting:after {
  content: "\f0dc";
  margin-left: 10px;
  font-family: fontawesome !important;
  cursor: pointer;
  color: rgba(50, 50, 50, 0.5); }

.dataTables_wrapper .dataTables_paginate {
  float: right;
  text-align: right;
  padding-top: 0.25em; }

.dataTables_wrapper .dataTables_paginate .paginate_button {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  min-width: 1.5em;
  padding: 0.5em 1em;
  margin-left: 2px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  *cursor: hand;
  color: #67757c;
  border: 1px solid transparent;
  border-radius: 2px; }

.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  color: #ffffff !important;
  border: 1px solid #1e88e5;
  background-color: #1e88e5; }

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
  cursor: default;
  color: #67757c;
  border: 1px solid transparent;
  background: transparent;
  -webkit-box-shadow: none;
  box-shadow: none; }

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  color: #26C6DA !important;
  border: 1px solid #7460ee;
  background-color: #7460ee; }

.dataTables_wrapper .dataTables_paginate .paginate_button:active {
  outline: none;
  background-color: #67757c; }

.dataTables_wrapper .dataTables_paginate .ellipsis {
  padding: 0 1em; }

  /*******************
Table- editable table
******************/
.dt-bootstrap {
  display: block; }

.paging_simple_numbers .pagination .paginate_button {
  padding: 0px;
  background: #ffffff; }
  .paging_simple_numbers .pagination .paginate_button:hover {
    background: #ffffff; }
  .paging_simple_numbers .pagination .paginate_button a {
    padding: 5px 10px;
    border-radius: 4px;
    border: 0px; }
  .paging_simple_numbers .pagination .paginate_button.active a,
  .paging_simple_numbers .pagination .paginate_button:hover a {
    background: #1e88e5;
    color: #ffffff; }

/*******************
Table- Footable
******************/
.footable .pagination {
  display: inline-block;
  padding: 8px 0; }
  .footable .pagination li {
    padding: 0px;
    margin: 0 1px;
    display: inline-block; }
    .footable .pagination li a {
      padding: 5px 10px; }
      .footable .pagination li a:hover, .footable .pagination li a.active {
        background: #1e88e5;
        color: #ffffff;
        border-radius: 4px; }
    .footable .pagination li.active a {
      color: #ffffff;
      border-radius: 4px; }

.footable-odd {
  background: #f2f4f8; }